section.about-is{
    width: 100% !important;
    background: url(../multimedia/images/about-us-wallpaper.png)no-repeat;
    background-size: 100% 100%;
    padding: 100px 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

section.about-is .a-inner{

    background-color: var(--w);
    width: 50%;
    padding: 40px 40px;
    border-radius: 4px 4px;
}

section.about-is .a-inner h2{
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    width: 70%;
}

section.about-is .a-inner h4{
    font-weight: bolder;
    font-size: 1.2rem;
    line-height: 2;
    color: var(--character-about-text)
}

section.about-is .a-inner p{
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    margin: 1.3rem 0;
    letter-spacing: 1px;
    color: var(--main-about-text);
}


.a-history{
    margin: 30rem 0 0 0 !important;
}

/* -- acerca de nuestros clientes */
div.our-clients {
    background-color: var(--w);
    color: var(--text-title);
    padding: 2rem 3rem;
    overflow: hidden; /* Evita desbordamiento */
    border-radius: 15px;
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
}

div.our-clients h2 {
    font-weight: 300;
    font-size: 3rem;
    line-height: 2;
    text-align: center;
}

div.our-clients ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

div.our-clients ul li {
    flex: 1 1 calc(25% - 1rem);
    max-width: 200px;
    margin: 0.5rem;
}

div.our-clients ul li img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

/* responsive */
@media screen and (max-width: 1024px) {
    section.about-is .a-inner {
        width: 100%;
    }

    div.our-clients ul li {
        flex: 1 1 calc(33.333% - 1rem); /* Ajuste para pantallas más pequeñas */
    }
}

@media screen and (max-width: 768px) {
    section.about-is {
        padding: 50px 20px;
    }

    section.about-is .a-inner {
        width: 100%;
    }

    section.about-is .a-inner h2 {
        font-size: 2rem;
    }

    div.our-clients {
        padding: 1rem;
    }

    div.our-clients h2 {
        font-size: 2.5rem;
    }

    div.our-clients ul {
        flex-direction: column;
        align-items: center;
    }

    div.our-clients ul li {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        flex: 1 1 100%; /* Cada elemento ocupa el 100% del ancho */
    }

    div.our-clients ul li img {
        width: 150px;
        height: 150px;
    }

    section.about-is {
        background: none;
    }
}
