:root{
    --w: white;
    --bg: #0f0f0f;
    --nav-bg: #14141E;
    --main-about-text: #9b9b9b;
    --character-about-text: #616161;
    --brd: #ccc;
    --btn-default: #1178ec;
    --btn-default-after: #105fb9;
    --text-title: #333;
    --title-service: #ffffff;
    --character-service-text: #ffffff9a;
}