/* -- CUERPO GENERAL -- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* -- CUERPO DE PÁGINA -- */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: var(--bg);
}

header {
    background: var(--nav-bg);
    color: var(--w);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: var(--w);
    text-decoration: none;
}

main {
}

footer {
    background: var(--nav-bg);
    color: var(--w);
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

/* Estilos del formulario */
form div {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    main {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    nav ul li {
        margin: 10px 0;
    }

    header, footer {
        text-align: center;
    }
}

